@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;800&display=swap');


*{
    box-sizing:border-box
}
.form-page {
    background: #f4f6f9;
}

.form-wrapper,
.results-wrapper {
    padding: 70px 0 100px;
    min-height: calc(100vh - 130px);
}

.form-header {
    margin-bottom: 35px
}

.form-header h1 {
    font-size: 57px;
    font-weight: 800;
    letter-spacing: -.05em
}


.form-card {
    background: #fff;
    border-radius: 20px;
    padding: 35px;
    max-width: 900px;
    margin: auto;
    box-shadow: 0 15px 50px rgba(20, 30, 50, .08)
}

.form-label {
    font-weight: 700
}

.form-control,
.form-select {
    padding: 12px 14px;
    border-radius: 10px
}

.form-control:focus,
.form-select:focus {
    border-color: #e83b3b;

}

.btn-primary {
    background: #e83b3b;
    border-color: #e83b3b;
    font-weight: 700
}

.btn-primary:hover {
    background: #c92d2d;
    border-color: #c92d2d;
    transform: translateY(-2px)
}


html {
    scroll-behavior: smooth
}

body {
    font-family:Montserrat, Arial, Helvetica, sans-serif;
    color: #182235;
    margin: 0;
    background: #fff
}

.navbar {
    background: rgba(11, 18, 32, .97);
    padding: 14px 0
}

.navbar-brand {
    font-size: 1.45rem;
    letter-spacing: -.04em
}

.navbar-brand span {
    color: #e83b3b
}

.nav-link {
    color: #dce3ef
}

.nav-link:hover {
    color: #fff
}

/* Ezt kell a Javascripthez: */
.rejtett {
    display: none;
}


/* Responsivity */
@media (max-width: 992px) {
    .form-card {
        max-width: 95%;
    }
}
@media (max-width: 768px) {
    .form-header h1 {
        font-size: 36px;
    }

    .form-card {
        padding: 20px;
    }

    .form-wrapper,
    .results-wrapper {
        padding: 40px 0 60px;
    }
}